<% if (assert(data, 'new')) { %>
<a name="new_apis"></a>
<h2>New APIs</h2>

The following APIs are new or have expanded platform support in Release <%- data.startVersion %>.

<table>
<tr><th>API</th><th>Type</th><th>Notes</th></tr>
<% data['new'].forEach(function(member){ %>
  <tr><td><%- member.name %></td><td><%- member.type %></td><td><%- member.summary %></td></tr>
<% }) %>
<tr>
</table>
<% } %>

<% if (assert(data, 'deprecated')) { %>
<a name="deprecated_apis"></a>
<h2>Deprecated APIs</h2>

The following APIs are deprecated in Release <%- data.startVersion %>.

<table>
<tr><th>API</th><th>Type</th><th>Notes</th></tr>
<% data['deprecated'].forEach(function(member){ %>
  <tr><td><%- member.name %></td><td><%- member.type %></td><td><%- member.summary %></td></tr>
<% }) %>
<tr>
</table>
<% } %>

<% if (assert(data, 'removed')) { %>
<a name="removed_apis"></a>

<h2>Removed APIs</h2>

The following APIs have been removed in Release <%- data.startVersion %>.

<table>
<tr><th>API</th><th>Type</th><th>Notes</th></tr>
<% data['removed'].forEach(function(member){ %>
  <tr><td><%- member.name %></td><td><%- member.type %></td><td><%- member.summary %></td></tr>
<% }) %>
<tr>
</table>
<% } %>

