<!-- Copyright (c) 2015 Appcelerator, Inc. All Rights Reserved. -->
<!-- Licensed under the terms of the Apache Public License.     -->
<% var green = '#3CC850', red = '#C83232' %>
<% function contains(a,b){for(i in a)if(a[i]==b)return true;return false;} %>
<% function rgbHex(r,g,b){return "#"+((1<<24)+(r<<16)+(g<<8)+b).toString(16).slice(1).split('.')[0];} %>
<% function colourGradient(sr,sg,sb,er,eg,eb,p){return rgbHex(((sr-er)*p)+er,((sg-eg)*p)+eg,((sb-eb)*p)+eb);} %>
<% function platformSupportColour(a){var b = (a.platforms.length/Object.keys(apis.coverage).length);if (b == 0) {return red; }else if (b == 1) {return green;} else {return colourGradient(60,200,80,200,240,210,b);}} %>
<style>
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline; } body { line-height: 1; font-family: Helvetica, Arial, sans-serif; margin: 20px; font-size: 12px; } ol, ul { list-style: none; } blockquote, q { quotes: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; clear: both; } a { text-decoration: none; } a:hover { text-decoration: underline; } th { padding: 5px 10px; background: #CCC; } td { border: 1px solid #CCC; padding: 5px; } .yes { background-color:#007700; color: #FFF; text-align: center; font-weight: bold; } .no { background-color:#770000; color:#FFF; text-align: center; font-weight: bold; } .module_parent_title { font-weight: bold; } .module_child_title { padding-left: 20px; } div.options { float: left; margin: 0px 20px 10px 0px; } .stats_description { font-weight: normal; }
	body { text-align: center; }
	table { margin: 0px auto; background-color: white; }
	#options { text-align: left; }
	.option { display: inline; }
</style>
<style type="text/css" id="table_row_style">
	.pseudo_type { display: none; } .module_child { display: none; }
</style>
<script type="text/javascript">
function toggleShowClass(clsName) {
	var showPseudo = document.getElementById('pseudo_type_checkbox').checked,
		showChildren = document.getElementById('module_members_checkbox').checked,
		rowCSS;

	if (showPseudo && showChildren) {
		rowCSS = ".pseudo_type { display: table-row; } .module_child { display: table-row; }";
	} else if (!showPseudo && showChildren) {
		rowCSS = ".module_child { display: table-row; } .pseudo_type { display: none; }";
	} else if (showPseudo && !showChildren) {
		rowCSS = ".pseudo_type { display: table-row; } .module_child { display: none; }";
	} else if (!showPseudo && !showChildren) {
		rowCSS = ".pseudo_type { display: none; } .module_child { display: none; }";
	}

	document.getElementById('table_row_style').innerHTML = rowCSS;
}
</script>

<table>
<tr>
	<th>
		<div id="options">
			<div class="option">
				Show Pseudotypes :
				<input type="checkbox" id="pseudo_type_checkbox" onclick="toggleShowClass()">
			</div>
			<div class="option">
				Show Members :
				<input type="checkbox" id="module_members_checkbox" onclick="toggleShowClass()">
			</div>
		</div>
	</th>
	<% for (platform in apis.coverage) { %>
		<th><%= platform %></th>
	<% } %>
	<th>overall</th>
</tr>
<tr>
	<th class="stats_description" style="font-weight: bold;">Total APIs (<%= apis.totalAPIs %>)</th>
	<% for (platform in apis.coverage) { %>
		<th><%= apis.coverage[platform] %></th>
	<% } %>
	<th></th>
</tr>
<tr>
	<th class="stats_description" style="font-weight: bold;">Percentage</th>
	<% for (platform in apis.coverage) { %>
		<th><%= (100*apis.coverage[platform]/apis.totalAPIs).toFixed(2) %>%</th>
	<% } %>
	<th></th>
</tr>
<% for (i in apis.proxies) { %>
	<% var proxy = apis.proxies[i] %>
	<tr class="<%= (proxy.pseudo ? "pseudo_type" : "normal_type") %> module_parent" element_type="<%= (proxy.pseudo ? "pseudo_type" : "normal_type") %>">
	<td class="module_parent_title" <%= (proxy.pseudo ? "class=\"normal_type\" " : "") %>><a href=<%= "http://docs.appcelerator.com/platform/latest/#!/api/"+proxy.name %>><%= proxy.name %></a></td>
	<% for (platform in apis.coverage) { %>
		<td style="background-color:<%= (contains(proxy.platforms, platform) ? green : red) %>; color: #FFF; text-align: center; font-weight: bold;"><%= (contains(proxy.platforms, platform) ? "YES" : "NO") %></td>
	<% } %>
	<td style="background-color:<%= platformSupportColour(proxy) %>; color: #FFF; text-align: center; font-weight: bold;"><%= proxy.platforms.length+'/'+Object.keys(apis.coverage).length %></td>
	</tr>

	<% for (i in proxy.properties) { %>
		<% var property = proxy.properties[i] %>
		<tr class="<%= (proxy.pseudo ? "pseudo_type" : "normal_type") %> module_child" module_child="true" element_type="<%= (proxy.pseudo ? "pseudo_type" : "normal_type") %>">
		<td class="module_child_title"><a href=<%= "http://docs.appcelerator.com/platform/latest/#!/api/"+proxy.name+"-property-"+property.name %>><%= property.name %></a> (<i>property</i>)</td>
		<% for (platform in apis.coverage) { %>
		<td style="background-color:<%= (contains(property.platforms, platform) ? green : red) %>; color: #FFF; text-align: center; font-weight: bold;"><%= (contains(property.platforms, platform) ? "YES" : "NO") %></td>
		<% } %>
		<td style="background-color:<%= platformSupportColour(proxy) %>; color: #FFF; text-align: center; font-weight: bold;"><%= proxy.platforms.length+'/'+Object.keys(apis.coverage).length %></td>
		</tr>
	<% } %>

	<% for (i in proxy.methods) { %>
		<% var method = proxy.methods[i] %>
		<tr class="<%= (proxy.pseudo ? "pseudo_type" : "normal_type") %> module_child" module_child="true" element_type="<%= (proxy.pseudo ? "pseudo_type" : "normal_type") %>">
		<td class="module_child_title"><a href=<%= "http://docs.appcelerator.com/platform/latest/#!/api/"+proxy.name+"-method-"+method.name %>><%= method.name %></a> (<i>method</i>)</td>
		<% for (platform in apis.coverage) { %>
		<td style="background-color:<%= (contains(method.platforms, platform) ? green : red) %>; color: #FFF; text-align: center; font-weight: bold;"><%= (contains(method.platforms, platform) ? "YES" : "NO") %></td>
		<% } %>
		<td style="background-color:<%= platformSupportColour(proxy) %>; color: #FFF; text-align: center; font-weight: bold;"><%= proxy.platforms.length+'/'+Object.keys(apis.coverage).length %></td>
		</tr>
	<% } %>

	<% for (i in proxy.events) { %>
		<% var event = proxy.properties[i] %>
		<tr class="<%= (proxy.pseudo ? "pseudo_type" : "normal_type") %> module_child" module_child="true" element_type="<%= (proxy.pseudo ? "pseudo_type" : "normal_type") %>">
		<td class="module_child_title"><a href=<%= "http://docs.appcelerator.com/platform/latest/#!/api/"+proxy.name+"-event-"+event.name %>><%= event.name %></a> (<i>event</i>)</td>
		<% for (platform in apis.coverage) { %>
		<td style="background-color:<%= (contains(event.platforms, platform) ? green : red) %>; color: #FFF; text-align: center; font-weight: bold;"><%= (contains(event.platforms, platform) ? "YES" : "NO") %></td>
		<% } %>
		<td style="background-color:<%= platformSupportColour(proxy) %>; color: #FFF; text-align: center; font-weight: bold;"><%= proxy.platforms.length+'/'+Object.keys(apis.coverage).length %></td>
		</tr>
	<% } %>
<% } %>
</table>

